<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.com.sensormovementclassification" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jsat.com.sensormovementclassification.MainActivity"
            android:label="Sensor Movement Classification"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jsat.com.sensormovementclassification.ManageTrainingData"
            android:label="@string/title_activity_manage_training_data"
            android:parentActivityName="jsat.com.sensormovementclassification.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jsat.com.sensormovementclassification.MainActivity" />
        </activity>
        <activity
            android:name="jsat.com.sensormovementclassification.SensorRecord"
            android:label="@string/title_activity_sensor_record"
            android:parentActivityName="jsat.com.sensormovementclassification.ManageTrainingData" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jsat.com.sensormovementclassification.ManageTrainingData" />
        </activity>
    </application>

</manifest>
